.spinner {
  display: flex;
  justify-content: center;
}

.video-detail-card {
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
